ExampleTest2/Test/ProductClientApp/Connected Services/ServiceReference1/TradeProducts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TradeSerives" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TradeSerives" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="ID" nillable="true" type="xs:string" />
      <xs:element name="productCategory" type="tns:Category" />
      <xs:element name="qty" type="xs:int" />
      <xs:element name="reorderLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:simpleType name="Category">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INVALID" />
      <xs:enumeration value="SOFTWARE" />
      <xs:enumeration value="HARDWARE" />
      <xs:enumeration value="EBOOKS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>