ExampleTest2/Test/ProductClientApp/Connected Services/ServiceReference1/TradeProducts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TradeProducts" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:57529/TradeProducts.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57529/TradeProducts.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57529/TradeProducts.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57529/TradeProducts.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TradeSerives" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderWService_Retrieve_InputMessage">
    <wsdl:part name="parameters" element="tns:Retrieve" />
  </wsdl:message>
  <wsdl:message name="IOrderWService_Retrieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderWService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IOrderWService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderWService">
    <wsdl:operation name="Retrieve">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderWService/Retrieve" message="tns:IOrderWService_Retrieve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderWService/RetrieveResponse" message="tns:IOrderWService_Retrieve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderWService/Update" message="tns:IOrderWService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderWService/UpdateResponse" message="tns:IOrderWService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="TradeProducts">
    <wsdl:port name="MetadataExchangeHttpBinding_IOrderWService" binding="i0:MetadataExchangeHttpBinding_IOrderWService">
      <soap12:address location="http://localhost:57529/TradeProducts.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:57529/TradeProducts.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>